home/.ssh/id*
home/.vim/.netrwhist
home/.irssi/config.autosave
home/.rc.d/00-nullglob-safety.*
home/.weechat/*log
home/.weechat/sec.conf
home/.weechat/*/*log
home/.rc.d/50-github-api-token.all.interactive
