alias mkcd='echo use take instead -- mkcd '

alias j='jobs'

alias v='vagrant'
alias vv='VAGRANT_DEFAULT_PROVIDER=virtualbox vagrant'
alias vf='VAGRANT_DEFAULT_PROVIDER=vmware_fusion vagrant'
alias vl='/usr/bin/VBoxManage list runningvms'
alias vfl='/Applications/VMware\ Fusion.app/Contents/Library/vmrun list | grep -v ^Total'
alias vla='vl ; vfl'

[ -x ~/src/puppet/ext/envpuppet ] && alias envpuppet='~/src/puppet/ext/envpuppet'
[ -x ~/src/puppet/ext/envpuppet ] && alias puppet='~/src/puppet/ext/envpuppet puppet'
[ -x ~/src/puppet/ext/envpuppet ] && alias facter='~/src/puppet/ext/envpuppet facter'
[ -x ~/src/puppet/ext/envpuppet ] && alias hiera='~/src/puppet/ext/envpuppet hiera'
alias ppv='puppet parser validate'
