alias mkcd='_(){ mkdir -p $1; cd $1; }; _'

alias j='jobs'

alias v='vagrant'
alias vf='VAGRANT_DEFAULT_PROVIDER=vmware_fusion vagrant'
alias vl='/usr/bin/VBoxManage list runningvms'
alias vfl='/Applications/VMware\ Fusion.app/Contents/Library/vmrun list | grep -v ^Total'
alias vla='vl ; vfl'

alias puppet='~/src/puppet/ext/envpuppet puppet'
alias facter='~/src/puppet/ext/envpuppet facter'
alias hiera='~/src/puppet/ext/envpuppet hiera'

alias b='bundle'
alias bi='b install --path vendor'
alias binit='bi && b package'
alias bu='b update'
alias be='b exec'
