[user]
	name = awaxa
	email = awaxa@awaxa.com
[github]
        user = awaxa
[core]
	excludesfile = ~/.gitglobalignore
[color]
        diff = auto
        status = auto
        branch = auto
[alias]
        a = add
        all = add -A
        b = branch
        bv = branch -av
        co = checkout
        c = commit
        ca = commit -a
        dc = commit --dry-run
        dca = commit --dry-run -a
        m = commit -m
        am = commit -a -m
        d = diff
        ds = diff --stat
        l = log --oneline
        l1 = log --pretty=oneline
        ll = log
        s = status
