[user]
	name = Greg Kitson
	email = greg.kitson@gmail.com
[github]
	user = awaxa
[core]
	excludesfile = ~/.gitglobalignore
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	a = add
	aa = add -A
	b = branch
	bv = branch -avv
	co = checkout
	c = commit
	ca = commit -a
	dc = commit --dry-run
	dca = commit --dry-run -a
	m = commit -m
	cam = commit -a -m
	d = diff
	ds = diff --stat
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	l1 = log --pretty=oneline
	ll = log
	s = status
	sh = show
	sl = stash list
	fa = fetch --all
	fe = fetch
	cp = cherry-pick
	rc = rebase --continue
	rs = rebase --skip
	ri = rebase --interactive
	ra = rebase --abort
	rh = reset --hard
	f = commit --amend -CHEAD
	fixup = commit --amend -CHEAD
	amend = commit --amend
	r = commit --amend
	reword = commit --amend
	unadd = reset HEAD

