
[hub]
protocol = https

[alias]
bvv = branch -avv
l = log --pretty=format:'%C(yellow)%h%C(reset) %s %C(cyan)%cr%C(reset) %C(blue)%an%C(reset) %C(green)%d%C(reset)' --graph --date-order
b = branch
aa = add -A
ds = diff --staged
co = checkout
bv = branch -vv
st = status -sb
c = commit
l1 = log --oneline --decorate
ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
d = diff
ca = commit -a
a = add
m = commit -m
s = status
cam = commit -a -m
f = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@)\"' -

[core]
editor = vim
excludesfile = /opt/boxen/config/git/gitignore

[color]
ui = auto

[user]
email = greg.kitson@gmail.com
name = Greg Kitson

[github]
user = awaxa

[credential]
helper = /opt/boxen/bin/boxen-git-credential

[instaweb]
httpd = webrick

[merge]
tool = vimdiff
conflictstyle = diff3

[mergetool]
prompt = false
keepBackup = false
